root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# Python
[*.py]
indent_size = 4

# Markdown
[*.md]
trim_trailing_whitespace = false

# YAML
[*.{yml,yaml}]
indent_size = 2

# C/C++/Arduino
[*.{c,cpp,h,hpp,ino}]
indent_size = 2

# Web (JS, TS, JSON, HTML, CSS)
[*.{js,jsx,ts,tsx,json,html,css}]
indent_size = 2