[Unit]
Description=ARGOS hotspot startup
After=NetworkManager.service
Wants=NetworkManager.service
Before=argos-camera-hls.service argos-app.service
StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
Type=oneshot
EnvironmentFile=/etc/mango/raspi.env
ExecStart=/opt/mango/raspberry/scripts/setup-hotspot.sh
RemainAfterExit=yes
TimeoutStartSec=45

[Install]
WantedBy=argos-stack.target
